@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $gray-800;
}

.hashText {
  color: $teal-500;
}

.btn-outline-evnd {
  color: $teal-500;
  border-color: $teal-500;
}

.btn-outline-evnd:hover {
  color: #fff;
  background-color: $teal-500;
  border-color: $teal-500;
}